# Ignore Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ignore environment & dependencies
.env
*.env
venv/
env/
*.sqlite3
db.sqlite3

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Git files
.git
.gitignore

# Ignore build & deployment artifacts
*.bak
*.swp
*.swo
*.orig
*.pid
*.sock
*.lock
*.tar
*.gz

# Ignore static & media files (if using collectstatic)
staticfiles/
media/

# Ignore local Docker files
docker-compose.override.yml
